{% load staticfiles %}

<script src="{% static 'js/login/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/login/animsition.min.js' %} "></script>
<script src="{% static 'js/login/popper.js' %}"></script>
<script src="{% static 'js/login/bootstrap.min.js' %}"></script>
<script src="{% static 'js/login/select2.min.js' %}"></script>
<script src="{% static 'js/login/moment.min.js' %}"></script>
<script src="{% static 'js/login/daterangepicker.js' %}"></script>
<script src="{% static 'js/login/countdowntime.js' %}"></script>
<script src="{% static 'js/login/main.js' %}"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
