{% load staticfiles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/login/vendor/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/login/css/util.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/login/css/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/fontawesome-free/css/all.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
