{% extends 'base.html' %}

{% block title %}
  Dashboard
{% endblock %}

{% block content %}

<div class="row">
  <!-- SIDEBAR -->
  <div class="col-md-2" style="box-shadow: 0px 3px 10px #bfbfbf; margin-top:-15px; height:100%;">
    {% include 'partials/sidebar.html' %}
  </div>
  <!-- SIDEBAR END -->

  <!-- MAIN CONTENT -->
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-3">
        <div class="card text-white bg-success mb-3">
          <div class="card-body">
            <h5 class="card-title">Fix task list</h5>
            <p class="card-text">Quick sample text to create the card title and make up the body of the card's content.</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card text-white bg-success mb-3">
          <div class="card-body">
            <h5 class="card-title">Add Fix task</h5>
            <p class="card-text">Quick sample text to create the card title and make up the body of the card's content.</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card text-white bg-success mb-3">
          <div class="card-body">
            <h5 class="card-title">Monthly task list</h5>
            <p class="card-text">Quick sample text to create the card title and make up the body of the card's content.</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card text-white bg-success mb-3">
          <div class="card-body">
            <h5 class="card-title">Add monthly task list</h5>
            <p class="card-text">Quick sample text to create the card title and make up the body of the card's content.</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card text-white bg-success mb-3">
          <div class="card-body">
            <h5 class="card-title">Task Assignment</h5>
            <p class="card-text">Quick sample text to create the card title and make up the body of the card's content.</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card text-white bg-success mb-3">
          <div class="card-body">
            <h5 class="card-title">Project discussion</h5>
            <p class="card-text">Quick sample text to create the card title and make up the body of the card's content.</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card text-white bg-success mb-3">
          <div class="card-body">
            <h5 class="card-title">Leaves</h5>
            <p class="card-text">Quick sample text to create the card title and make up the body of the card's content.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


    <!-- <h2>{{ user.get_full_name }}</h2>
    <ul>
    <li>Username: {{ user.username }}</li>
    <li>branch: {{ user.profile.branch }}</li>
    <li>designation: {{ user.profile.designation }}</li>
    <li>sal: {{ user.profile.salary }}</li>
    <li>join: {{ user.profile.joining_date }}</li>
    <li>Birth Date: {{ user.profile.birth_date }}</li>
    </ul> -->

  <!-- MAIN CONTENT END -->
</div>

{% endblock %}
