<!-- {% extends 'base.html' %} -->

<!-- {% block title %}
  Login
{% endblock %} -->


<!-- {% block content %} -->

{% include 'partials/headers.html' %}

<header>
  <title>Login</title>
</header>

  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100 p-t-50 p-b-90">
        <form class="login100-form validate-form flex-sb flex-w" method="POST" action = '{% url "login_user" %}' > {% csrf_token %}
          <span class="login100-form-title p-b-51">
            Login
          </span>
          {% if 'error' in request.session %}
            {{ request.session.error }}
          {% endif %}
          <div class="wrap-input100 validate-input m-b-16" data-validate = "Username is required">
            <input class="input100" type="text" name="username" placeholder="Username">
            <span class="focus-input100"></span>
          </div>

          <div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
            <input class="input100" type="password" name="password" placeholder="Password">
            <span class="focus-input100"></span>
          </div>
          {{d}}
          <div class="flex-sb-m w-full p-t-3 p-b-24">
            <div>
              <a href="{% url 'forgot_password' %}" class="txt1">
                Forgot Password?
              </a>
            </div>
          </div>

          <div class="container-login100-form-btn m-t-17">
            <button class="login100-form-btn">
              Login
            </button>
          </div>

        </form>
      </div>
    </div>
  </div>

  <div id="dropDownSelect1"></div>
<!-- {% endblock %} -->

{% include 'partials/footer.html' %}
