{% extends 'base.html' %}

{% block title %}
  Performance Questions
{% endblock %}

{% block content %}

<div class="row">
  <!-- SIDEBAR -->
  <div class="col-md-2" style="box-shadow: 0px 3px 10px #bfbfbf; margin-top:-15px; height:100%;">
    {% include 'partials/sidebar.html' %}
  </div>
  <!-- SIDEBAR END -->

  <!-- MAIN CONTENT -->

  <div class="col-md-10">
    {% if 'success' in request.session %}
      {{ request.session.success }}
    {% endif %}

    {% if 'error' in request.session %}
      {{ request.session.error }}
    {% endif %}

    <div class="container-fluid">
      <h3>Manage Performance Questions</h3><br />
      <div class="card shadow mb-4">

        <a href="{% url 'add_question' %}" class="btn btn-primary">Add Question</a>

        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>ID</th>
                  <th style="width: 800px;">Title</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for que in questions %}
                  <tr>
                    <td>{{ que.id }}</td>
                    <td>{{ que }}</td>
                    <td>
                      <a href = '{% url "edit_question" ques_id=que.id %}' class="btn btn-primary">Edit</a>
                      <a href = '{% url "delete_question" ques_id=que.id %}' class="btn btn-danger">Delete</a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- MAIN CONTENT END -->
</div>

{% endblock %}
