{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
  Add Technology
{% endblock %}

{% block content %}

<div class="row">
  <!-- SIDEBAR -->
  <div class="col-md-2" style="box-shadow: 0px 3px 10px #bfbfbf; margin-top:-15px; height:100%;">
    {% include 'partials/sidebar.html' %}
  </div>
  <!-- SIDEBAR END -->

  <!-- MAIN CONTENT -->

  <div class="col-md-10">
    <div class="container-fluid">
      <h3>Add Technology</h3><br />

      <form method="post">{% csrf_token %}
        <div class="form-row">
          <div class="form-group col-md-6 mb-0">
            {{ form.technology|as_crispy_field }}
          </div>

        </div>

        <button type="submit" class="btn btn-primary">Add</button>
      </form>

    </div>
  </div>


  <!-- MAIN CONTENT END -->
</div>

{% endblock %}
