{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
  Employee Access
{% endblock %}

{% block content %}

<div class="row">
  <!-- SIDEBAR -->
  <div class="col-md-2" style="box-shadow: 0px 3px 10px #bfbfbf; margin-top:-15px; height:100%;">
    {% include 'partials/sidebar.html' %}
  </div>
  <!-- SIDEBAR END -->

  <!-- MAIN CONTENT -->

  <div class="col-md-10">
    <div class="container-fluid">
      <h3>Employee Access</h3><br />

    </div>
  </div>


  <!-- MAIN CONTENT END -->
</div>

{% endblock %}
